.todo-input-form {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    justify-content: space-evenly;
}
.todo-input {
  background-color: inherit;
  border: none;
  margin: 20px 0px 30px 10px;
  width: 300px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  font-size: 20px;
  outline: none;
  align-items: center;
  
}
.todo-add {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}
.todo-search {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 7px;
}
