.category {
  width: 300px;
  height: 200px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.category h2 {
  padding-left: 20px;
  margin-top: 20px;
  color: white;
}
.category-input-form {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  justify-content: space-evenly;
  bottom: 0;
}
.category-input {
  background-color: inherit;
  border: none;
  margin: 20px 0px 30px 10px;
  width: 250px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 4px;
  font-size: 17px;
  outline: none;
  align-items: center;
  color: white;
}
.category-input::placeholder {
  color: rgba(255, 255, 255, 0.355);
}
.category-add {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}
.categories {
  padding: 10px 0 0 25px;
  font-size: 17px;
  flex: 1;
  width: 100%;
}
.categories li {
  list-style: circle;
  color: white;
}
.categories li span {
  color: rgba(255, 255, 255, 0.57);

  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.categories li span:hover {
  color: white;
}
